/*General*/
img {
	max-width: 150%;
}

h1 {
	text-align: center;
}

header {
	text-align: center;
}

/*Page*/
.myimage {
    float:left;
    width:400px;
    height:500px;
    border-radius: 20px;
    margin:20px;
}

.mytext {
	background-color: #FF96B2;
	padding: 20px;
}