/*General*/
img {
	max-width: 150%;
}

h1 {
	text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


/*Page*/
.leftCol{
	float: left;
  	width: 25%;
}

.rightCol{
	float: left;
  	width: 75%;
  	padding-left: 20px;
}

.myimage {
    float:left;
    width: 80%;
    /*height:500px;*/
    border-radius: 20px;
    margin:20px;
}

.mytext {
	background-color: #FF96B2;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
}


.myFavText{
	background-color: #AFFA91;
	padding: 20px;
	margin: 20px;
	height: 200px;
}

.myFavPic{
	float: left;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	height: 200px;
}


